:root {
  --main-orange: #de6211;
  --main-yellow: #e5bb1d;
  --main-gray: #333;

  --dark-orange: #5a2707;
  --very-dark-yellow: #171303;
  --light-orange: #fcefe7;

  --font-elegant: 'Cormorant SC', serif;
  --font-main: 'Ibarra Real Nova', serif;
  --font-para: 'Lato', sans-serif;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ===== GENERAL STYLES ===== */

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-para);
  font-size: 1.5rem;
  color: var(--main-gray);
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

section {
  padding-top: 12rem;
  margin-bottom: 12rem;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

.subheading {
  font-family: var(--font-elegant);
  font-size: 5rem;
  margin-bottom: 4rem;
  color: var(--very-dark-yellow);
}

.btn {
  border-radius: 8px;
  display: inline-block;
  background-color: var(--main-orange);
  color: white;
  font-size: 2rem;
  font-family: var(--font-elegant);
  letter-spacing: 1px;
  transition: .3s;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.tomato-logo {
  position: relative;
  margin-bottom: 4rem;
  width: 5rem;
  height: 5rem;
}

.text-logo {
  display: flex;
  align-items: center;
  gap: 2rem;
}

/* ===== HEADER ===== */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 8rem;
  z-index: 10;
  transition: .2s;
}

.header-background {
  background-color: rgba(22, 10, 2, 0.812);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.15);
}

.header-container {
  height: 100%;
  padding: 0 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 5rem;

}

.logo img {
  height: 100%;
  padding: 0.8rem 2rem;
}

.nav-items {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.nav-link {
  position: relative;
  color: white;
  font-size: 1.6rem;
  font-weight: 100;
  transition: .2s;
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: var(--main-orange);
  transform-origin: bottom right;
  transition: transform 0.2s ease-in-out;
}

.nav-link:hover,
.nav-link:hover::after {
  color: #eba170;
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* ===== HERO ===== */

.hero-section {
  background: url(../assets/images/pizza1.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;

  height: 100vh;
  margin-bottom: 3rem;
  position: relative;
}


.hero-content {
  position: absolute;
  top: 20rem;
  width: 60%;
  padding: 0 0 0 12rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  color: white;
}

.hero-title {
  font-family: var(--font-main);
  font-size: 8rem;
  line-height: 0.8;
}

.hero-description {
  font-size: 2.5rem;
  font-family: var(--font-para);
  font-weight: 100;
  line-height: 1.5;
  padding-right: 10rem;
}

.hero-btn {
  /* margin-top: rem; */
  padding: 1.2rem 3rem;
}

.hero-btn:hover {
  background-color: #e17229;
}

/* ===== ABOUT SECTION ===== */


.about-content {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.about-description h3 {
  font-family: var(--font-elegant);
  font-weight: bold;
  font-size: 3.5rem;
  margin-bottom: 1.5rem;
}

.about-description p {
  font-size: 2rem;
  font-weight: lighter;
  line-height: 1.6;
}

.about-steps {
  margin-top: 10rem;
}

.about-steps__heading {
  text-align: center;
  margin-bottom: 5rem;
}

.steps-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
}

.step-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

ion-icon {
  font-size: 3rem;
}

.step-title {
  font-size: 2.5rem;
  font-family: var(--font-elegant);
  font-weight: bold;
}

.step-description {
  font-size: 1.5rem;
  line-height: 1.5;
}

/* ===== MENU SECTION ===== */

.menu-section {
  background-color: #171303;
  color: white;
  margin-bottom: 0;
  padding-bottom: 12rem;
}

.menu-section h2 {
  color: white;
}

.menu-section__content {
  display: flex;
  flex-direction: column;
  /* gap: 1rem; */
}

.menu-section__content .btn {
  margin-top: 5rem;
}

.menu-section__description {
  font-size: 2rem;
  font-weight: lighter;
  line-height: 1.6;
  margin-bottom: 4rem;
}

.menu-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.menu-card {
  height: 30rem;
  border-radius: 1rem;
}

.menu-card__text {
  height: 100%;
  padding: 2rem;
  color: white;
  display: flex;
  align-items: flex-end;
}

.menu-card__text p {
  font-size: 2.5rem;
  font-weight: 100;
  transition: .3s;
}

.menu-card__text:hover p {
  transform: translateY(-1.5rem);
}

.menu-card:nth-of-type(1) {
  background: linear-gradient(transparent 40%, #171303), url(../assets/images/pizza2.jpg) center / cover no-repeat;
  ;
}

.menu-card:nth-of-type(2) {
  background: linear-gradient(transparent 20%, #171303), url(../assets/images/pasta1.jpg) center / cover no-repeat;
  ;
}

.menu-card:nth-of-type(3) {
  background: linear-gradient(transparent 40%, #171303), url(../assets/images/lasagna.jpg) center / cover no-repeat;
  ;
}

.menu-card:nth-of-type(4) {
  background: linear-gradient(transparent 20%, #171303), url(../assets/images/pasta2.jpg) center / cover no-repeat;
  ;
}

.menu-card:nth-of-type(5) {
  background: linear-gradient(transparent 20%, #171303), url(../assets/images/cannelloni.jpg) center / cover no-repeat;
  ;
}

.menu-card:nth-of-type(6) {
  background: linear-gradient(transparent 20%, #171303), url(../assets/images/tiramisu.jpg) center / cover no-repeat;

}

.menu-btn {
  text-align: center;
}

/* ===== FIREWOOD SECTION ===== */
.oven-section {
  height: 80vh;
  padding-top: 0;
  margin-bottom: 0;
  background: linear-gradient(rgba(23, 19, 3, 0.6) 70%, rgba(23, 19, 3, 1) 90%), url(../assets/images/oven.jpg) center / cover no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  text-align: center;
}

.oven-content h2 {
  font-size: 7rem;
  color: white
}

.oven-section__description {
  font-size: 2.5rem;
  font-weight: lighter;
  line-height: 1.6;
}


/* ===== LOCATION SECTION ===== */

.location-section {
  position: relative;
  background-color: #171303;
  color: white;
  height: 500px;
  padding: 0;
}

.location-section .subheading {
  color: white;
}

.location-wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  margin: 0;
}

.location-bg {
  flex-basis: 35%;
  width: 100%;
  height: 100%;
  background: url(../assets/images/restaurant.jpg) center / cover no-repeat;
}

.location-content {
  position: absolute;
  top: 10%;
  left: 35%;
  transform: translateX(-35%);
  height: 80%;
  width: 30rem;
  z-index: 1;
  background-color: rgb(63, 40, 10);
  padding: 4rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.location-content .subheading {
  margin-bottom: 0;
}

.location-address {
  font-size: 2rem;
  line-height: 1.5;
  color: #eba170;
}

.location-phone,
.location-email {
  font-size: 1.8rem;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.map-bg {
  flex-basis: 65%;
  background: url(../assets/mapMKE.png) center / cover no-repeat;
  width: 100%;
  filter: grayscale(1);
}